body {
    background: linear-gradient(45deg, #8a2be2, #ffffff, #00008b);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  

  h1 {
    text-align: center;
    color: #333;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    background: linear-gradient(45deg, #8a2be2, #ffffff, #00008b);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }

  a {
    color: #333;
    text-decoration: none;
  }

  p {
    margin-bottom: 10px;
  }

  .bold {
    font-weight: bold;
  }

  .italic {
    font-style: italic;
  }

  .underline {
    text-decoration: underline;
  }

  .red {
    color: red;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }

  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f0f0f0;
    font-weight: bold;
  }

  ol, ul {
    margin-left: 20px;
  }

  li {
    margin-bottom: 5px;
  }